<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.tsp.vmd.service.infrastructure.repository.dao.VehLifecycleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="net.hwyz.iov.cloud.tsp.vmd.service.infrastructure.repository.po.VehLifecyclePo">
        <id column="id" property="id" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="row_version" property="rowVersion" />
        <result column="row_valid" property="rowValid" />
        <result column="vin" property="vin" />
        <result column="node" property="node" />
        <result column="reach_time" property="reachTime" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id, vin, node, reach_time, sort,
        description, create_time, create_by, modify_time, modify_by, row_version, row_valid
    </sql>

    <!-- 插入 -->
    <insert id="insertPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_veh_lifecycle (
            id, vin, node, reach_time, sort,
            description, create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES (
            #{id}, #{vin}, #{node}, #{reachTime}, #{sort},
            #{description}, now(), #{createBy}, now(), #{modifyBy}, 1, 1
        )
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsertPo" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        INSERT INTO tb_veh_lifecycle (
            id, vin, node, reach_time, sort,
            description, create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.id}, #{item.vin}, #{item.node}, #{item.reachTime}, #{item.sort},
            #{item.description}, now(), #{item.createBy}, now(), #{item.modifyBy}, 1, 1
        )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="updatePo" parameterType="net.hwyz.iov.cloud.tsp.vmd.service.infrastructure.repository.po.VehLifecyclePo">
        UPDATE tb_veh_lifecycle t SET
        <if test="vin != null and vin != ''">
            t.vin = #{vin},
        </if>
        <if test="node != null and node != ''">
            t.node = #{node},
        </if>
        <if test="reachTime != null">
            t.reach_time = #{reachTime},
        </if>
        <if test="sort != null">
            t.sort = #{sort},
        </if>
        <if test="description != null and description != ''">
            t.description = #{description},
        </if>
        <if test="modifyBy != null">
            t.modify_by = #{modifyBy},
        </if>
        t.row_version = t.row_version + 1,
        t.modify_time = now()
        WHERE id = #{id}
    </update>

    <!-- 逻辑删除 -->
    <update id="logicalDeletePo" parameterType="Long">
        UPDATE tb_veh_lifecycle t SET
        t.row_version = t.row_version + 1,
        t.modify_time = now(),
        t.row_valid = 0
        WHERE t.id = #{value}
    </update>

    <!-- 物理删除 -->
    <delete id="physicalDeletePo" parameterType="Long">
        DELETE FROM tb_veh_lifecycle t
        WHERE t.id = #{value}
    </delete>

    <!-- 批量物理删除车辆生命周期 -->
    <delete id="batchPhysicalDeletePo" parameterType="Long">
        DELETE FROM tb_veh_lifecycle t
        WHERE t.id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据vin批量物理删除车辆生命周期 -->
    <delete id="batchPhysicalDeletePoByVin" parameterType="string">
        DELETE FROM tb_veh_lifecycle t
        WHERE t.vin = #{vin}
    </delete>

    <!-- 根据主键获取对应数据 -->
    <select id="selectPoById" parameterType="Long" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM tb_veh_lifecycle t
        WHERE t.id = #{value}
        AND t.row_valid = 1
    </select>

    <!-- 根据数据对象获取对应数据列表 -->
    <select id="selectPoByExample" parameterType="net.hwyz.iov.cloud.tsp.vmd.service.infrastructure.repository.po.VehLifecyclePo" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM tb_veh_lifecycle t
        WHERE t.row_valid = 1
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="vin != null and vin != ''">
            AND t.vin = #{vin}
        </if>
        <if test="node != null and node != ''">
            AND t.node = #{node}
        </if>
        <if test="reachTime != null">
            AND t.reach_time = #{reachTime}
        </if>
        <if test="sort != null">
            AND t.sort = #{sort}
        </if>
        <if test="description != null and description != ''">
            AND t.description = #{description}
        </if>
        <if test="createTime != null">
            AND t.create_time = #{createTime}
        </if>
        <if test="createBy != null and createBy != ''">
            AND t.create_by = #{createBy}
        </if>
        <if test="modifyTime != null">
            AND t.modify_time = #{modifyTime}
        </if>
        <if test="modifyBy != null and modifyBy != ''">
            AND t.modify_by = #{modifyBy}
        </if>
        <if test="rowVersion != null">
            AND t.row_version = #{rowVersion}
        </if>
        ORDER BY t.reach_time ASC, t.id DESC
    </select>

    <!-- 根据Map对象获取对应数据列表 -->
    <select id="selectPoByMap" parameterType="java.util.Map" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM tb_veh_lifecycle t
        WHERE t.row_valid = 1
        <!-- 添加自定义条件 -->
        ORDER BY t.id DESC
    </select>

    <!-- 根据Map对象统计记录数 -->
    <select id="countPoByMap" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM tb_veh_lifecycle t
        WHERE t.row_valid = 1
        <!-- 添加自定义条件 -->
    </select>
</mapper>
